nav{
display: flex;
padding: 0 15px;
align-items: center;
height: 50px;
background-color: rgb(39, 21, 56);
color: rgb(255, 255, 255);
}
.space{
    flex: 1;
}
.nav-items{
    display: flex;
}
.nav-items li{
    display: inline-block;
    padding: 0 15px;
    list-style: none;
}
nav a{
    text-decoration: none;
    color: white;
}
h1{
    margin: 0;
}